* {
	 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 300px){
	p {
		display: none;
	}
}

body {
	background-color: #2d3c49;
}

#grid {
	width: 80%;
	margin: auto;
	background-color: white;
	word-wrap: break-word;
	font-family: sans-serif;
}

header , article , footer {
	margin: 0 40px 0 40px;
}

img {
    width: 100%;
    height: auto;
    display: block;

}

hr {
	height: 5px;
	background-color: #7d97ad;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col-2 {
	padding-top: 40px;
	width : 15%;
}

.address {
	padding-left: 15px;
	font-size: 1.5em;
	color: #7d97ad;
}

.col-4{
	height: auto;
	width: 33.33%;
	text-align: center;
}

.col-4 img {
	padding: 10px;
}

.col-10{
	width: 80%;
	text-align: right;
	padding-top: 40px;
}

.col-12 {
	width: 100%;
}
/*first breakPoint*/
@media only screen and (max-width:900px){
	.col-4{
		width: 50%;
	}
}
/*secound breakpoint*/
@media only screen and (max-width:550px){
	.col-4{
		width:100%;
	}
}
